:root {
  --second-color: #1a76d1;
  --third-color: #2c2d3f;
  --fourth-color: rgba(184, 10, 94, 0.914);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  text-align: center;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

a {
  text-decoration: none;
}

header {
  background-color: rgba(165, 186, 200, 0.6);
  margin-bottom: 1rem;
  width: 100vw;
}

footer {
  margin-top: auto;
  background-color: rgba(165, 186, 200, 0.3);
  text-align: center;
  padding: 20px;
}

button {
  color: #fff;
  padding: 1.3rem 2.5rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-weight: 500;
  background: var(--second-color);
  position: relative;
  box-shadow: none;
  display: inline-block;
  transition: all 0.4s ease;
  transform: perspective(1px) translateZ(0);
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}
button:hover {
  color: #fff;
}

button:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--third-color);
  transform: scaleX(0);
  transform-origin: 50%;

  transition: all 0.4s ease;
  border-radius: 0.4rem;
}
button:hover:before {
  transform: scaleX(1);
}

button:disabled {
  opacity: 0.4;
}
