.welcomeWrapper {
  display: flex;
  flex-direction: column;
  width: 60rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  gap: 1rem;
}

.welcomeTools {
  display: flex;
  gap: 1rem;
}

.welcomeSectionTitle {
  margin-bottom: 1rem;
}

.welcomeSectionInfo {
  text-align: justify;
  padding-bottom: 1rem;
}

.welcomeList {
  text-align: justify;
  margin: 1rem 0;
}
