.headerWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
}

.menuWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
